<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

    <input type="text" id="myevent">
    <p id="page"></p>
   
   <script>
    let x = null;
    console.log(x)
    let a='we'
    console.log(typeof a); // logs 'object'

 let y= 5;
 const m = y<7? 'Hello': 'too old';
 console.log(m);

 const q =false;

 if(q){
    console.log('Hello y')
 }else{
    console.log('no')
 }
const page = document.getElementById('page')
const getNum=document.getElementById('myevent');
getNum.addEventListener('change',(e)=>{
    page.innerHTML=e.target.value;

})






 let num =7;

 const startEvent = new Event('start'); 
 document.addEventListener('start', ()=>{
    console.log('Hello Event')
 })
    if(num==7){
        document.dispatchEvent(startEvent)

    }
 
      const numbers = [1, 2, 3, 4, 5, 6];

      const evenNumbers = numbers.filter((number) => {
      return number % 2 === 1;
     });
     console.log(numbers); 
    console.log(evenNumbers); // [2, 4, 6] 


     const names =['jake', 'Smith', 'Eric','Peter']

     const filterNamer= names.filter((name)=>{
        return name =='jake';

     })
    console.log(filterNamer)

    const scores=[25, 80, 76, 90]
     
    const setReducer= scores.reduce((sum,score)=>{
          return sum + score;
    },0)

    console.log(setReducer) 
 /*    function addSum(total, num){
        return  total + num;
    }


    console.log(scores.reduce(addSum,0)) */

/*     const intervalId = setInterval(() => {
  console.log('Hello World');
}, ); */
    </script>

    
    
</html>
